body {
    display: flex;
    justify-content: center;
    background: black;
    align-items: center;
}

.frame {
    margin-top: 10vh;
}

.header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: gray;
    border-radius: 10%;
    padding: 2vh 20vh;
}

.header h1 {
    margin: 0;
}

.header-checker {
    width: 3vh;
    height: auto;
}